.bgcontact {
    background-image: url("img/bgcontact.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
    width: 100%;
    height: 360px;

}
.con img{
    padding-left: 20px;
}
/* .con h5{
    padding-left: 20px;
    padding-top: 20px;
}
.con p{
    padding-left: 150px;
} */