.bgimgservice {
    background-image: url("img/greenservice.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
    width: 100%;
    height: 360px;

}
.b0xd {
    float: left;
    position: relative;

    margin-left: 15px;
    height: 300px;
    width: 250px;
    background: white;
    color: black;
    border-bottom: 5px solid green;
   
}
.bgimg2 {
    background-image: url("img/bgimg2.jpeg");
    background-size: 100% 100%;

    display: block;
    width: 300px;
    height: 500px;
    color: white;
    margin-top: 40px;

}

.boxa {
    float: bottom;
    position: relative;
}
.boxc {
    float: bottom;
    position: relative;
}
.box1 {
    float: left;
    position: relative;
    margin: 5px;
}
.box2 {
    float: left;
    position: relative;
    margin: 5px;
}
.box3 {
    float: left;
    position: relative;
    margin: 5px;
}
.b0xe {
    float: left;
    position: relative;

    margin-left: 15px;

    width: 250px;
    
    color: blue;

}
.bgdelivery {
    background-image: url("img/bgdelivery.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
    width: 100%;
    height: 160px;

}



