
.bgimg {
    background-image: url("img/gardener.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
    width: 100%;
    height: 660px;

}



.headerset {
    padding-top: 250px;
    box-sizing: border-box;
    background-attachment: fixed;
    display: block;
}
.headerset h2 {
    font-size: 42px;
}
.bgimg2 {
    background-image: url("img/bgimg2.jpeg");
    background-size: 100% 100%;

    display: block;
    width: 300px;
    height: 500px;
    color: white;
    margin-top: 40px;

}
.boxa {
    float: bottom;
    position: relative;
}
.boxc {
    float: bottom;
    position: relative;
}
.box1 {
    float: left;
    position: relative;
    margin: 5px;
}
.box2 {
    float: left;
    position: relative;
    
    margin-top: 3px;
}
.box3 {
    float: left;
    position: relative;
    margin: 5px;
}
.bgimg3 {
    background-image: url("img/bgimg3.jpg");
    background-size: 100% 100%;
    margin-top: 700px;
    display: block;
    width: 100%;
    height: 400px;
    color: white;
}
.b0xd {
    float: left;
    position: relative;

    margin-left: 15px;
    height: 300px;
    width: 250px;
    background: white;
    color: black;
    border-bottom: 5px solid green;

}
.b0xe {
    float: left;
    position: relative;

    margin-left: 15px;

    width: 250px;
    background: white;
    color: black;

}


#flip1 #flip2 #flip3  {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, #flip1:hover #flip2:hover #flip3:hover {
    background-color: #ccc; 
}

.panel1 .panel2 .panel3 {
    padding: 0 18px;
    display: none;
    border: 1px grey;
    background-color: white;
   
}


/* //////////////////////////RESPONSIVE////////////////// */

@media(min-width:992px){


}
@media(min-width:768px) and (max-width:991px){

}
@media(min-width:575px)and (max-width:767px){

}
@media(min-width:480px)and (max-width:574px){
    
    .bgimg {
        background-image: url("img/gardener.jpg");
        background-size: 100% 100%;
        background-attachment: fixed;
        width: 100%;
        height: 460px;
        
    
    }
    .headerset {
        padding-top: 150px;
        box-sizing: border-box;
        background-attachment: fixed;
        display: block;
        
    }
    .headerset h2{
        font-size: 20px;
    }
    .headerset h5{
        font-size: 10px;
    }
    
    .boxa {
        float: bottom;
        position: relative;
    }
    .boxc {
        float: bottom;
        position: relative;
    }
    .box1 {
        float: left;
        position: relative;
        
        height: 600px;
    }
    .box2 {
        float: left;
        position: relative;
        margin: 5px;
        height: 600px;
    }
    .box3 {
        float: left;
        position: relative;
        
        height: 300px;
    }
    .bgimg2 {
        background-image: url("img/bgimg2.jpeg");
        background-size: 100% 100%;
    
        display: block;
        width: 300px;
        height: 500px;
        color: white;
        margin-top: 0px;
    
    }
    .bgimg3 {
        background-image: url("img/bgimg3.jpg");
        background-size: 100% 100%;
        margin-top: 1900px;
        display: block;
        width: 100%;
        height: 400px;
        color: white;
    }
    .b0xd {
        float: left;
        position: relative;
    
        margin-left: 15px;
        height: 300px;
        width: 250px;
        background: white;
        color: black;
        border-bottom: 5px solid green;
    
    }
    .cardsa{
    height: 800px;
    }
    .cardsb{
        height: 800px;
        }
     .client{
         height: 1500px;
         margin-top: 1500px
    
     } 
     .question {
         height: 2000px;
     }  
     .question h1{
        font-size: 20px;
        margin-left: 200px;
    } 
    .question h5{
        font-size: 5px;
        text-align: center;
    }  
    .lastdiv{
        margin-top: 600px;
    }
    


}
@media(max-width:479px){
    
.bgimg {
    background-image: url("img/gardener.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
    width: 100%;
    height: 460px;
    

}
.headerset {
    padding-top: 150px;
    box-sizing: border-box;
    background-attachment: fixed;
    display: block;
    
}
.headerset h2{
    font-size: 20px;
}
.headerset h5{
    font-size: 10px;
}

.boxa {
    float: bottom;
    position: relative;
}
.boxc {
    float: bottom;
    position: relative;
}
.box1 {
    float: left;
    position: relative;
    
    height: 600px;
}
.box2 {
    float: left;
    position: relative;
    margin: 5px;
    height: 600px;
}
.box3 {
    float: left;
    position: relative;
    
    height: 300px;
}
.bgimg2 {
    background-image: url("img/bgimg2.jpeg");
    background-size: 100% 100%;

    display: block;
    width: 300px;
    height: 500px;
    color: white;
    margin-top: 0px;

}
.bgimg3 {
   
    background-size: 100% 100%;
    margin-top: 1900px;
    display: block;
    width: 100%;
    height: 400px;
    color: white;
    background-color: rgb(255 red,255 green,255 blue,0.5) url("img/bgimg3.jpg") no-repeat 0 50%;
}
.b0xd {
    float: left;
    position: relative;

    margin-left: 15px;
    height: 300px;
    width: 250px;
    background: white;
    color: black;
    border-bottom: 5px solid green;

}
.cardsa{
height: 800px;
}
.cardsb{
    height: 800px;
    }
 .client{
     height: 1500px;
     margin-top: 1500px

 } 
 .question {
     height: 2000px;
 }  
 .question h1{
    font-size: 20px;
    margin-left: 200px;
} 
.question h5{
    font-size: 5px;
    text-align: center;
}  
.lastdiv{
    margin-top: 600px;
}

    
}
