.bgimgabout {
    background-image: url("img/bgimg2.jpeg");
    background-size: 100% 100%;
    background-attachment: fixed;
    width: 100%;
    height: 360px;

}
.b0xd {
    float: left;
    position: relative;

    margin-left: 15px;
    height: 300px;
    width: 250px;
    background: white;
    color: black;
    border-bottom: 5px solid green;
   
}
.b0xe {
    float: left;
    position: relative;

    margin-left: 15px;

    width: 250px;
    background: white;
    color: black;

}

