.bggallery {
    background-image: url("img/bggallery.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
    width: 100%;
    height: 360px;
    opacity: 1;
    filter: alpha(opacity=50); /* For IE8 and earlier */

}
.bggallery2 {
    background-image: url("img/bggallery2.jpg");
    background-size: 100% 100%;
  
    width: 100%;
    height: 160px;

}
